//
// VARIABLES
//

// Colors
$blue: #C8E5D5;

// Grays
$black: #000;
$darkerGray: #FFF7EC;
$darkGray: #FFF7EC;
$gray: #FFF7EC;
$lightGray: #FFF7EC;
$white: #FFF7EC;

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}